#main-navbar {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: darkseagreen;
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
  text-decoration-thickness: 5px;
}
#cat-img{
  width: 300px;
  height: 300px;
  border-radius: 25%;
  border-radius: 25%;
  border-color: pink;
}
#nav-body{
    background-image: url(https://i.pinimg.com/474x/4d/e1/31/4de131d8893bcd1f47eca892ffa883be.jpg);
}
#heading-info {
  text-align: center;
  border-style: inset;
  border-color: pink;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: darkseagreen;
}

#heading-info:hover { 
  transform: scale(1.1); 
}
#name-info {
  text-align: center;
  border-style: inset;
  width: 300px;
  height: 300px;
  border-radius: 25%;
  border-color: pink;
  background: darkseagreen;
  font-family: Monaco;
  font-size: 20px;
}

#contact-info {
  text-align: center;
  border-style: inset;
  border-color: darkseagreen;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: pink;
}

#contact-info:hover { 
  transform: scale(1.1); 
}

.food-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 350px;
  height: 350px;
  border-radius: 25%;
}
.all-info {
  width: 100%;
  padding: 4%;
  box-shadow: 0 0 8px 8px darkolivegreen inset;
} 
.cat-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
.section1 {
  display: flex;
  justify-content: center;
  margin-bottom: 12vh;
}
#food-section {
  float: left;
  width: 46%;
  background-color: pink;
  position: relative;
  padding: 10px;
  margin-left: 20px;
  border-radius: 25%;
}

#eating-section {
  float: right;
  width: 46%;
  padding: 10px;
  margin-right: 20px;
  background-color: pink;
  position: relative;
  border-radius: 25%;
}
#music-section {
  float: right;
  width: 46%;
  padding: 10px;
  margin-right: 20px;
  background-color: pink;
  position: relative;
  border-radius: 25%;
}
#travelling-section {
  float: right;
  width: 46%;
  padding: 10px;
  margin-right: 20px;
  background-color: pink;
  position: relative;
  border-radius: 25%;
}
.plane-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
.music-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
#movie-section {
  padding: 20px;
  margin:20px;
  background-color: darkseagreen;
  border-radius: 25%;
}
#cat-section {
  padding: 20px;
  margin:20px;
  background-color: pink;
  border-radius: 25%;
}
#cat-body{
  background-image: url(https://i.pinimg.com/474x/52/1a/0c/521a0cdc1c91ea6fb266dc1d494d342d.jpg)
}
#hobbie-body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Enn0meaGZeMxrQSjCbzPKF9t_oeBW35BdN7_xe2HsQ3MNnFfQt4xpStpxQqlRFCe_MQ&usqp=CAU)
}
#hobbies-section {
  text-align: center;
  border-style: inset;
  border-color: pink;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: darkseagreen;
  font-family: Monaco;
}
