#main-navbar {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: darkseagreen;
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
  text-decoration-thickness: 5px;
}
#cat-wave{
  float: center;
  width: 6em;
  margin: 72px 42px 42px 2px;
}
#nav-body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v935-aum-03_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9c34a3160a757b89ac9cb496bec6ca5c);
}
h2 {
  background-color: mediumvioletred;
  color: lightpink;
  font-size: 60px;
  text-align: center;
  font-family: Lucida Handwriting;

}
