#main-navbar {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
  background-color: darkseagreen;
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
  text-decoration-thickness: 5px;
}
#cat-img{
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
#nav-body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v935-aum-03_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9c34a3160a757b89ac9cb496bec6ca5c);
}
#heading-info {
  text-align: center;
  border-style: inset;
  border-color: mediumvioletred;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: darkseagreen;
  transition: all .2s ease-in-out; 
}

#heading-info:hover { 
  transform: scale(1.1); 
}
#name-info {
  text-align: center;
  border-style: inset;
  width: 300px;
  height: 300px;
  border-radius: 25%;
  border-color: mediumvioletred;
  background: darkseagreen;
  transition: all .2s ease-in-out; 
}

#name-info:hover { 
  transform: scale(1.1); 
}
#contact-info {
  text-align: center;
  border-style: inset;
  border-color: mediumvioletred;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: darkseagreen;
  transition: all .2s ease-in-out; 
}

#contact-info:hover { 
  transform: scale(1.1); 
}
.info-box-1 {
  width: 60%;
  margin-left: 32%;
  padding: 4%;
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
}

.info-box-2 {
  width: 60%;
  padding: 4%;
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
}
.food-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
.all-info {
  width: 100%;
  padding: 4%;
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
} 
.cat-img {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 300px;
  height: 300px;
  border-radius: 25%;
}
.section1 {
  display: flex;
  justify-content: center;
  margin-bottom: 12vh;
}